nav {

    width: 100vw;
    height: 4rem;
    display: grid;
    place-items: center;
    background: var(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    /*blur karanwa */
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:15px;
   
}

.nav__logo {
    display: block;
    width: 3rem;
}
.nav__toggle-btn{
    display: none;
}
.nav__menu {
    display: flex;
   align-items: center;
   
   
}
.nav__menu li {
    margin-left:2rem;
}


